/* Match body's background to its contents when they don't fill the screen. */
body {
  margin: 0px;
  background-color: black;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 1ch;
}

.inline {
  display: inline;
}

@media (max-width: 480px) {
  .hide-small {
    display: none;
  }
}